<div class="nav-bar">
    <div class="side-one">
        <div class="logo">
            <h1>KEPF<span>Trader</span></h1>
        </div>
        <nav class="nav">
            <a routerLink="account">
                <mat-icon>account_box</mat-icon>
                Account
            </a>
            <a routerLink="trade" style="color:rgba(255,255,255,0.5);">
                <mat-icon>assessment</mat-icon>
                Trade
            </a>
            <a routerLink="portfolio">
                <mat-icon>business_center</mat-icon>
                Portfolio
            </a>
        </nav>
    </div>

    <div class="side-two">
        <div class="balance">
            <h1>${{balance}}</h1>
        </div>
        <div class="info">
            <mat-icon>person</mat-icon>
            <div class="person-info">
                <h1>{{email}}</h1>
                <h3>online</h3>
            </div>
        </div>
    </div>
</div>