<div class="trade-view">
    <div class="trade-view-top">
        <div class="card">
            <div class="card-header">
                <h1>Market Data</h1>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>
                            Ticker
                        </th>
                        <th>
                            Bid Price
                        </th>
                        <th>
                            Sell Limit
                        </th>
                        <th>
                            Max Price Shift
                        </th>
                        <th>
                            Ask Price
                        </th>
                        <th>
                            Buy Limit
                        </th>
                        <th>
                            Last Traded Price
                        </th>
                    </tr>
                    <tr>
                        <td>MSFT</td>
                        <td>2.0</td>
                        <td>5000</td>
                        <td>1</td>
                        <td>1.7</td>
                        <td>10000</td>
                        <td>1.7</td>
                    </tr>
                    <tr>
                        <td>NFLX</td>
                        <td>1.55</td>
                        <td>6000</td>
                        <td>1</td>
                        <td>1.7</td>
                        <td>8000</td>
                        <td>2.1</td>
                    </tr>
                    <tr>
                        <td>GOOGL</td>
                        <td>2.0</td>
                        <td>5000</td>
                        <td>1</td>
                        <td>1.7</td>
                        <td>10000</td>
                        <td>1.7</td>
                    </tr>

                </table>
               
            </div>
        </div>
        <form (ngSubmit)="createOrder()">
            <fieldset class="main-fieldset">
                <h3>{{responseMessage}}</h3>
                <h3 *ngIf="is_submiting">submiting....</h3>

                <legend>Make Order</legend>
                <div>
                    <select [(ngModel)]="product" name="product" class="products">
                        <option>-select product-</option>
                        <option value="MSFT">MSFT(Microsoft Corp.)</option>
                        <option value="GOOGL">GOOGL(Google Inc.)</option>
                        <option value="TSLA">TSLA(Tesla Inc.)</option>
                        <option value="AAPL">AAPL(AAPL Inc.)</option>
                        <option value="IBM">IBM(IBM Inc.)</option>
                        
                    </select>
                </div>
                <div>
                    <fieldset>
                        <legend>quantity</legend>
                        <input [(ngModel)]="quantity" name="quantity" type="number">
                    </fieldset>
                </div>
                <div>
                    <fieldset>
                        <legend>price</legend>
                        <input [(ngModel)]="price" name="price" type="number">
                    </fieldset>
                </div>
                <div>
                    <fieldset>
                        <legend>select side</legend>
                        <input [(ngModel)]="side" type="radio" id="buy" name="side" value="buy">
                        <label for="buy">buy</label><br>
                        <input [(ngModel)]="side" type="radio" id="sell" name="side" value="sell">
                        <label for="sell">sell</label><br>
                    </fieldset>
                </div>
                <button type="submit">Submit</button>
            </fieldset>
        </form>
    </div>
    <div class="trade-view-bottom"></div>
</div>