/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: rgb(198,82,0);
    --primary-dark-color: rgb(160, 69, 4);
    --trans-white-1: rgba(255,255,255,0.1);
    --trans-white-2: rgba(255,255,255,0.03);
    --nav-bright:rgba(255,255,255,0.5);
    --nav-dark: rgba(255,255,255,0.2);
    --partial-white: #ccc;
    --secondary-color: rgba(39, 32, 32, 0.03);
    --dark: rgb(16,19,26);
    --shadow-white: rgba(255, 255, 255, 0.1);
}
html, body {
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: var(--dark);
    height: 100vh;
}

/* MATERIAL */
.mat-tab-label-content {
    color: var(--partial-white) !important;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 1px;
}
.mat-tab-label{
    background: var(--trans-white-1);
    margin-right: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.mat-ink-bar{
    background: var(--primary-color) !important;
}